*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border-width: 0px;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

td {
  vertical-align: middle;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
header {
  cursor: default;
}

p,
blockquote,
q,
code,
a,
input,
select,
button {
  font-size: 1rem;
}

html {
  // base font-size for all
  font-size: 87.5%; // approx 14 px
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-color: $body-bg !important;
  line-height: $line-height-base;
  color: $text-color;
  box-sizing: border-box;
  overflow-x: hidden;
  min-width: $screen-lg-min;
}

p {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

abbr[title] {
  border-bottom: 1px dotted;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited {
  text-decoration: none;
  color: $link-color-base;
  transition: $transition-time all;
  &:hover,
  &:active,
  &:focus {
    color: $link-color-hover;
    outline: 0;
  }
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select,
input[type='submit'],
[role='button'] {
  cursor: pointer;
}

select {
  // background-color: #fff;
  background: #fafafa
    url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=)
    no-repeat calc(100% - 5px) 50% !important;
  width: auto;
  padding-left: 5px;
  padding-right: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  height: 25px;
  min-width: 200px;
  transition: 0.4s ease-in-out background-color, 0.4s ease-in-out border-color;
  border-color: #c1c1c1;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &:hover {
    font-size: 1rem; // fixes Safari issue
  }
}

select:hover {
  background-color: #fff !important;
  border-color: #aeb4b7;
}

input[type='text'],
input[type='date'],
input[type='search'],
select {
  height: $input-height-base;
}

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
}

img {
  vertical-align: middle;
  border: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5,
h6 {
  font-size: 1rem;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 0.8rem;
}

sub,
sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0px;
  padding: 0px;
}

input {
  line-height: normal;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0px 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border-width: 0px;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
