env = local

[database]
username =
password =  
host = 

;http://php.net/manual/en/session.configuration.php
[session]
max_lifetime = 0
http_only = true
ssl_require = true
use_only_cookies = true
path = /
domain = 
samesite = Strict
strict_mode = false

[mail]
host = 
username =
password =