* {
  margin: 0;
  padding: 0;
}
.express-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: relative;
}
.express-wrapper__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #808080;
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 27% 100%);
}
.express-wrapper__logo {
  z-index: 1;
}
